// Required Parameters
params.reads = "/scratch/$USER/gatk_hc_pipeline/data/*_R{1,2}_*.fastq.gz"
params.ref = "/scratch/work/cgsb/genomes/Public/Fungi/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
params.outdir = "/scratch/$USER/gatk_hc_pipeline/a/"
params.snpeff_db = "Saccharomyces_cerevisiae"
params.pl = "illumina"
params.pm = "nextseq"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

